.current {
  background-color: gray;
}

.correct {
  color: green;
}

.incorrect {
  background-color: pink;
}

.normalInput {
  background-color: white;
}

.incorrectInput {
  background-color: pink;
}

